
body {
  margin: 0;
  font-family: "Alliance No.1",-apple-system,"Segoe UI",Helvetica; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#buttons1 {
  display: none;
  width: 100%;
}

#button:nth-child(1) {
  margin-right: 0;
}

#button {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: white;
  z-index: 2;
}

#button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
     #488cfb,
     #29dbbc,
     #ddf505,
     #ff9f0e,
     #e440bb,
     #655adc,
     #488cfb
   );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

#button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
   filter: hue-rotate(1turn);
  }
}

#button,
#button::after {
  box-sizing: border-box;
}

#button:active {
  --border-width: 5px;
}

#photo {
  box-shadow:0px 0px 0 10px rgba(16,16,16,1),
             0px 0px 0 15px rgb(71, 33, 124);
  width: 350px;
  transform: scale(.7);
}

#circle {
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 50%;
  box-shadow: 0 0 400px 50px rgba(255, 255, 255, .15);
}

#circle_ {
  position: absolute;
  bottom: 100px;
  right: 100px;
  border-radius: 50%;
  box-shadow: 0 0 400px 50px rgb(75, 0, 130);
}

#leonardo {
  text-shadow: 50px 0px 277px rgba(75, 0, 130, .15);
}

@font-face {
  font-family: "Alliance No.1",-apple-system,"Segoe UI",Helvetica;
  src: url("/public/Alliance-No-1-ExtraBold.woff2") format('woff');
  src: url("/public/Alliance-No-1-Regular.woff2") format('woff');
  font-weight: bold;
}

.hidden {
  opacity:0;
}

.heart {
  background-image: url('heart.svg');
  width: 24px;
  height: 24px;
}

.pwd {
  display: flex;
  flex-direction: row;
  position: relative;
  color:green;
  width: 100%;
  top: 60px;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-left: 2rem;
  z-index: 10;
  height: 24px;
  margin: 0 auto;
  max-width: 720px;
}

#github {
  display: inline-block;
  width: 24px;
  height: 24px;
}

#gitlog {
  color: darkorchid;
}

#time {
  color: red;
}

.typewriter-wrapper {
  border-radius: 8px;
  background-color: black;
  width: 100%;
  height: inherit;
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 1rem 2rem 1rem;
  box-shadow: 0px 0px 95px 0px rgba(0 ,0 , 0 ,.35);
}
#ind {
  height: inherit;
  margin: auto 0;
  display:flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eaeaea;
  z-index: 10;
}
#nmap {
  max-width: 720px;
  height: auto;
  border-radius: 8px;
  margin-top: 5rem;
  margin: 0 auto;
  display: flex;
  background-color: black;
  width: 100%;
  align-items: center;
  padding: 0 16px;
}
#name {
  justify-items: center;
}
#namep {
  text-align: center;
}
@media only screen and (min-width: 468px) {
  #photo {
    box-shadow:0px 0px 0 20px rgba(16,16,16,1),
               0px 0px 0 25px rgb(71, 33, 124);
    transform: scale(1);
  }
}

@media only screen and (min-width: 766px) {
  #hero {
    height: 100vh;
  }
  #button:nth-child(1) {
    margin-right: 16px;
  }
  #buttons {
    display: none;
  }

  #button {
    width: 156px;
  }

  #name {
    justify-content: flex-start;
  }
  #namep {
    text-align: left;
  }
  #buttons1 {
    display: block;
    width: auto;
  }
}